#logo {
    width: 140px;
    /* margin-top:auto */
}

#basket {
    width: 100px;
}

#profil {
    width: 100px;
}

.bg-light {
    --bs-bg-opacity: 1;
    background-color: rgba(15, 13, 13, 0.205)!important;
}

.navbar-brand {
    margin-right: 10rem;
}
.navbar {
    font-family: Century Gothic, sans-serif;
    letter-spacing: 3.5px;
    color: #8b0808
}   

.nav-link.disabled {
    color: rgba(0,0,0,.55) !important;
    font-weight: bold;
}

.navbar-nav {
    color: rgb(0, 0, 0)
}

.navbar-expand-sm .navbar-collapse {
    margin-top:auto
}

.d-flex {
    margin-left:auto
}

.btn-outline-success {
    color: #000000;
    border-color: #000000;
}

.btn-outline-success :hover {
    background-color: rgb(194, 194, 194);
    border-color: rgb(194, 194, 194)
}

.btn-outline-success :active{
    background-color: rgb(194, 194, 194);
    border-color: rgb(194, 194, 194)
}

.btn-outline-success :focus {
    background-color: rgb(194, 194, 194);
    border-color: rgb(194, 194, 194)
}

.container {
    font-size: 28px;
 
}