.btn-outline-secondary {
    color: black;
    border-color: black;
}

.btn {
    margin: auto;
};

#button {
    margin-top: 100px;
}

.d-grid {
    margin-top: 30px;
    margin-bottom: 30px;
    size: 40px
}
